@import "../../style/layout"
@import "../../style/mixins"

$questionmark-height: 20px

.Faq
  padding-bottom: $section-padding
  display: flex
  justify-content: space-between

  @include media-tablet
    flex-direction: column

  @include media-mobile
    padding-bottom: $section-padding-mobile

  .Title
    position: relative
    max-width: 480px

    @include media-mobile
      padding-bottom: 40px

    h2
      text-align: left
      position: relative
      z-index: 1

    .Icon
      position: absolute
      transform: translate(100%,-70%)

      @include media-mobile
        transform: translate(70%, -70%)

    .StickyTitle
      position: sticky
      top: calc($header-height + $questionmark-height)

  .Questions
    max-width: 650px
    display: flex
    flex-direction: column
    gap: 33px

    @include media-mobile
      gap: 18px

    .TitleWrapper
      text-align: left
      padding: 0 30px

      @include media-mobile
        padding: 0 15px

    .QuestionTitle
      font-size: 22px
      font-weight: 500