@import "../../style/colors.sass"
@import "../../style/layout.sass"

.PageWrapper
  display: flex
  text-align: center
  flex-direction: column
  align-items: flex-start
  justify-content: center
  color: $primary-text-color
