@import "../../style/colors.sass"

.PageWrapper
  text-align: center
  min-height: 100vh
  flex-direction: column
  align-items: flex-start
  justify-content: center
  font-size: calc(10px + 2vmin)
  color: $primary-text-color
  max-width: 1300px
  margin: 0 auto

.PageContent
