@import "../../style/colors.sass"
@import "../../style/mixins.sass"
@import "../../style/layout.sass"

.PageWrapper
  display: flex
  text-align: center
  flex-direction: column
  align-items: flex-start
  justify-content: center
  color: $primary-text-color
  margin-top: $header-height

  @include media-tablet
    padding-top: $header-height

  @include media-mobile
    padding-top: unset
