@import "../../style/mixins"

.FormCallBack
  display: flex
  gap: 16px

  .Question
    padding: 20px 14px
    border-radius: 20px
    border-color: rgba(0, 0, 0, 0.23)
    font-family: "Exo 2"
    font-size: 16px
    color: rgba(0, 0, 0, 0.87)
    letter-spacing: -0.5px
    max-width: 100%
    max-height: 300px

    &:focus-visible
      outline-color: #1976d2
      outline-width: 2px

  .Action
    @include media-mobile
      width: 100%

  .InputLabel
    padding-left: 14px
