@import "../../style/layout"
@import "../../style/mixins"

.StayInTouch
  padding-bottom: $section-padding
  display: flex
  gap: 60px

  @include media-mobile
    flex-direction: column
    padding-bottom: $section-padding-mobile

  .Contacts
    max-width: 360px
    text-align: left
    display: flex
    flex-direction: column
    gap: 20px

  .Map
    width: 100%
    height: 580px
    border-radius: $border-radius
    overflow: hidden

    @include media-mobile
      height: 360px
