@import "../../style/layout"

.Greetings
  padding-bottom: $section-padding

  .Picture
    width: auto
    height: 436px
    overflow: hidden

  .GreetingsText
    display: flex
    justify-content: space-between