@import "../../style/layout"

.Greetings
  padding-bottom: $section-padding

  .Picture
    width: 100%
    height: auto
    max-width: 100%
    overflow: hidden

  .GreetingsText
    display: flex
    justify-content: space-between