@import 'colors.sass'
@import 'fonts.sass'

@import-normalize

body
  margin: 0
  font-family: 'Exo 2', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  background-color: $primary-bg-color
  font-size: 18px

h1, h2
  font-family: 'inglobal', sans-serif
  font-size: 40px
  font-style: normal
  font-weight: 700
  line-height: normal
  letter-spacing: 2px
  text-transform: uppercase

code
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace
