@import "../../style/mixins"
@import "../../style/layout"
@import "../../style/colors"

.LogoSide
  width: 240px

  svg
    width: 100%
    padding: 10px

.SideBar
  .Messengers
    display: flex
    justify-content: center
    gap: 8px
    padding-top: 18px

  .SideBarContacts
    padding-top: 16px

  a
    color: $black
    text-decoration: none

.Navigation
  .NavWrapper
    padding: 10px $page-padding
    max-width: $max-width
    width: 100%

    @include media-medium
      padding: 10px $page-padding-medium

  .Clickable
    display: flex
    align-items: center

    &:hover
      cursor: pointer

  .NavLink
    gap: 30px

  .NavLink,
  .Phone
    display: flex
    align-items: center

  .Number
    color: $primary-text-color
    text-decoration: none