@import "../../style/colors"
@import "../../style/layout"

.Terms
  padding-bottom: $section-padding
  display: flex
  gap: 120px

  .Info
    max-width: 527px
    text-align: left
    display: flex
    flex-direction: column

  .Picture
    height: 648px
    border-radius: $border-radius
    overflow: hidden

    img
      height: 100%
      width: auto

  .Title
    max-width: 410px
    text-align: left
    margin-top: 0
    margin-bottom: 40px

  .TermsList
    display: flex
    flex-direction: column
    gap: 20px
    padding-bottom: 20px

    .Attentive
      font-weight: bold

    .Term
      display: flex
      flex-direction: column

      .TermTitle
        display: flex
        gap: 15px

      .TermDescription
        padding-top: 10px

  .Prices
    display: flex
    gap: 21px

    .PriceItem
      flex-grow: 0
      font-size: 18px
      font-style: normal
      font-weight: 300
      line-height: normal

    .Price
      border-radius: $border-radius
      border: 2px solid $border-color
      padding: 21px 60px
      margin-bottom: 10px
      text-wrap: nowrap
      font-weight: 500