@import "../../style/layout"

.Callback
  padding-bottom: $section-padding

  .PictureWrapper
    width: 520px

  .Picture
    width: auto
    height: 677px
    overflow: hidden
    border-radius: $border-radius
