@import "../../style/layout"
@import "../../style/mixins"

.Gallery
  padding-bottom: $section-padding
  width: 100%

  @include media-mobile
    padding-bottom: $section-padding-mobile

  .Title
    text-align: left

  .Carousel
    min-height: 400px
    max-height: 760px //fixme: indicators disappear
    margin: 40px
    border-radius: $border-radius

    .GalleryItem
      width: 100%
      height: auto
