@import "../../style/layout"

.Gallery
  padding-bottom: $section-padding
  width: 100%

  .Title
    text-align: left

  .Carousel
    max-height: 760px //fixme: indicators disappear
    margin: 40px

    .GalleryItem
      width: 100%
      height: auto
