@import "../../style/layout"
@import "../../style/mixins"

.GalleryWrapper
  width: 100%
  @include background-icon-wrapper

  .Background
    @include background-icon-container
    transform: scale(1.1)
    top: 60%

    @include media-mobile
      top: 50%

.Gallery
  padding-bottom: $section-padding
  width: 100%

  @include media-mobile
    padding-bottom: $section-padding-mobile

  .Title
    text-align: left

  .Carousel
    min-height: 400px
    margin: 40px 0

    .GalleryItem
      width: 100%
      height: auto
      border-radius: $border-radius
