@import "../../style/layout"

.Advantages
  display: flex
  flex-direction: column
  padding-bottom: $section-padding

  .Title
    max-width: 600px
    text-align: left

  .AdvantagesList
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    gap: 21px

    .Advantage
      display: flex
      flex-direction: column
      width: 243px

      .AdvantageTitle
        font-size: 22px
        font-style: normal
        font-weight: 600
        line-height: normal
        text-transform: uppercase

      .AdvantageDescription
        font-size: 18px
        font-style: normal
        font-weight: 300
        line-height: normal

