@import "../../style/layout"
@import "../../style/mixins"

.Advantages
  display: flex
  flex-direction: column
  padding-bottom: $section-padding

  @include media-mobile
    padding-bottom: $section-padding-mobile

  .Title
    max-width: 600px
    text-align: left
    padding-bottom: 40px

  .AdvantagesList
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    gap: 21px

    @include media-tablet
      flex-direction: column
      align-items: center

    .Advantage
      display: flex
      flex-direction: column
      align-items: center
      width: 243px

      .AdvantageTitle
        font-size: 22px
        font-style: normal
        font-weight: 600
        line-height: normal
        text-transform: uppercase

      .AdvantageDescription
        font-size: 18px
        font-style: normal
        font-weight: 300
        line-height: normal

