@import "../../style/colors"

.Contacts
  .Address
    display: flex
    flex-direction: column

    .AddressItem
      display: flex

  .Messengers
    display: flex

.ContactsLight
  color: $white-f
