@import "../../style/colors"
@import "../../style/layout.sass"

.Footer
  width: 100%
  color: $white-f
  background: $footer-bg

  .FooterContent
    padding: 30px $page-padding
    max-width: $max-width
    margin: 0 auto
    display: flex
    justify-content: space-between
    align-items: center

    .InfoLinks
      display: flex
      flex-direction: column

      .InfoLinkItem
        display: flex
        flex-direction: column

        .InfoLinkTitle
          text-transform: uppercase

        .InfoLink
          padding-bottom: 15px

  a
    color: $white-f
    text-decoration: none