@import "../../style/layout.sass"

.Header
  display: flex
  flex-direction: row
  justify-content: space-between
  padding: 24px $page-padding
  max-width: $max-width
  margin: 0 auto

.Logo
  display: inline-block
  width: 64px
  height: 64px